@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500,500i&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

div.myButton input {
  background:url(https://banner2.kisspng.com/20180716/yuz/kisspng-semicircle-black-and-white-clip-art-circulo-preto-5b4d166408f1f4.5223028715317786600367.jpg) no-repeat;
  cursor:pointer;
  width: 200px;
  height: 100px;
  border: none;
}
