@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500,500i&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

div.container{
  height: 100%;
  display: flex;
}

div.center{
  height: 100%;
  display: 1;
}
